aiofiles
aiosqlite
alembic
dacite
debugpy
fastapi
ffmpeg-python
httpx
jinja2
jstyleson
numpy
onnx
onnxruntime-gpu
openapi-generator-cli[jdk4py]
opencv-python
paho-mqtt
pillow
pydantic
python-multipart
requests
sqlalchemy
sqlmodel
uvicorn