<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <script src="/static/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1>Welcome to the {{ app_name }} Web Interface</h1>
    <div id="button-bar" class="boxed-div">
        {% for button in buttons %}
            <button hx-get="{{ button.action }}" hx-target="#output-div" hx-swap="innerHTML">
                {{ button.label }}
            </button>
        {% endfor %}
    </div>
    <div id="output-div" class="boxed-div"></div>
</body>

</html>