<h1>{{ title }}</h1>

<form hx-post="{{ action_url }}" hx-target="#output-div" hx-swap="innerHTML" enctype="multipart/form-data">
    {% for field_name, field_data in fields.items() %}
        <label for="{{ field_name }}">{{ field_data.label }}</label><br>

        {% if field_data.type == "label" %}
            <span id="{{ field_name }}">{{ field_data.text }}</span><br><br>

        {% elif field_data.type == "text" %}
            <input type="text" id="{{ field_name }}" name="{{ field_name }}"{% if not field_data.optional %} required{% endif %}><br><br>

        {% elif field_data.type == "radio" %}
            {% for option in field_data.options %}
                <div>
                <input type="radio" id="{{ field_name }}_{{ option }}" name="{{ field_name }}" value="{{ option }}"
                    {% if enable_dynamic_help %}
                        hx-post="{{ params_schema_url }}"
                        hx-vals='{"typename": "{{ option }}"}'
                        hx-target="#params-help-box"
                        hx-trigger="change"
                    {% endif %}
                >
                <label for="{{ field_name }}_{{ option }}">
                    {% if field_data.option_labels and field_data.option_labels[option] %}
                        {{ field_data.option_labels[option] }}
                    {% else %}
                        {{ option }}
                    {% endif %}
                </label><br>
                </div>
            {% endfor %}
            {% if extra_buttons %}
                <div style="margin-bottom:1em;">
                    {% for btn in extra_buttons %}
                        <button type="submit" formaction="{{ btn.action }}" formmethod="{{ btn.method|default('post') }}">{{ btn.label }}</button>
                    {% endfor %}
                </div>
            {% endif %}
            {% if enable_dynamic_help %}
              <div id="params-help-box" style="border:1px solid #ccc; padding:1em; margin-bottom:1em;">
                <em></em>
              </div>
            {% endif %}
            <br>

        {% elif field_data.type == "checkbox" %}
            {% for option in field_data.options %}
                <input type="checkbox" id="{{ field_name }}_{{ option }}" name="{{ field_name }}" value="{{ option }}">
                <label for="{{ field_name }}_{{ option }}">{{ option }}</label><br>
            {% endfor %}
            <br>

        {% elif field_data.type == "select" %}
            <select id="{{ field_name }}" name="{{ field_name }}" {% if field_data.multiple %}multiple{% endif %}>
                {% for option in field_data.options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select><br><br>

        {% elif field_data.type == "file" %}
            <input type="file" id="{{ field_name }}" name="{{ field_name }}" accept="image/*"><br><br>
        {% endif %}
    {% endfor %}

    <button type="submit">{{ submit_label }}</button>
</form>