<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <script src="/static/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1>Welcome to the {{ app_name }} Web Interface</h1>
    <div id="button-bar" class="boxed-div">
        <button hx-get="/create-stream-form" hx-target="#output-div" hx-swap="innerHTML">CreateStream</button>
        <button hx-get="/list-streams" hx-target="#output-div" hx-swap="innerHTML">List Streams</button>
        <button hx-get="/list-config" hx-target="#output-div" hx-swap="innerHTML">Show Configuration</button>
    </div>
    <div id="output-div" class="boxed-div"></div>
</body>

</html>